:root {
  --color-black: #120d16;
  --color-white: #f5f5f5;
  --color-gray: #ced4da;
  --color-gold: #fcc861;
  --color-silver: #c9cfd4;
  --color-bronze: #dbb386;

  --color-europe: #1b8fc8;
  --color-asia: #f5cf02;
  --color-africa: #333333;
  --color-oceania: #00923d;
  --color-america: #c22d2e;
}
